{% extends 'base.html' %}

{% block content %}
<!--Styling and JS for datatable-->
<!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css"> -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.1/css/dataTables.bootstrap5.min.css">
<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" language="javascript" 
src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.11.1/js/dataTables.bootstrap5.min.js"></script>

<script type="text/javascript" class="init">
  $(document).ready(function() {
    $('#browse_playlists').DataTable(
      {
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "pageLength": 25
        }
    );
  });
</script>


<div class="container text-center">
    <div class="row justify-content-center align-self-center mt-4">
      <h1>Browse Playlists</h1>
    </div>
    <div class="row justify-content-center align-self-center mt-4">
      <p>Browse, search, and rate other people's playlists!</p>
    </div>
    <div class="row justify-content-center align-self-center mt-4">
      <h3>Uploaded Playlists</h3>
      <!-- <table class="table table-hover table-responsive"> -->
      <table id="browse_playlists" class="table table-hover table-responsive">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Playlist</th>
            <th scope="col">Creator</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for idx, row in all_playlists.iterrows() %}
          <tr>
            <th scope="row">{{idx+1}}</th>
            <td scope="row">{{row['title']}}</th>
            <td scope="row">{{row['user_name']}}</th>
            <td><a href="/view_playlist/{{ row['playlist_id'] }}" class="btn btn-light">View</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}
