{% extends "base.html" %}

{% block content %}
<div class="container text-center">
  <div class="row justify-content-center align-self-center mt-4">
    <h1>Upload playlist link</h1>
  </div>
  <div class="row">
    <form class="row g-3" method="POST" action="{{ url_for('main.redirect_playlist') }}">
      <div class="col-12">
        <input type="text" name="playlist_link" placeholder="Paste link here..." required>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Analyze</button>
    </form>
  </div>
</div>


{% endblock %}
