{% extends 'base.html' %}

{% block content %}
<!--Styling and JS for datatable-->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.1/css/dataTables.bootstrap5.min.css">
<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" language="javascript" 
src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.11.1/js/dataTables.bootstrap5.min.js"></script>

<script type="text/javascript" class="init">
  $(document).ready(function() {
    $('#playlist_table').DataTable(
      {
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "pageLength": -1
        }
    );
  });
</script>

<div class="container text-center">
    <div class="row justify-content-center align-self-center mt-4">
      <h1>{{playlist_data['title']}}</h1>
      <p>Created by: <a href="https://open.spotify.com/user/{{ playlist_data['owner_id'] }}">{{ playlist_data['owner_name'] }}</a></p>      <img src="{{playlist_data['image_url']}}" alt="img" style="width: 200px; height: 200px;">
    </div>
    <div class="row justify-content-center align-self-center mt-4">
      <!-- <table class="table table-hover table-responsive"> -->
      <table id="playlist_table" class="table table-hover table-responsive">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Track</th>
            <th scope="col">Artist</th>
            <th scope="col">Popularity</th>
            <th scope="col">Danceability</th>
            <th scope="col">Energy</th>
            <th scope="col">Key</th>
            <th scope="col">Loudness</th>
            <th scope="col">Mode</th>
            <th scope="col">Speechiness</th>
            <th scope="col">Acousticness</th>
            <th scope="col">Instrumentalness</th>
            <th scope="col">Liveness</th>
            <th scope="col">Valence</th>
            <th scope="col">Tempo</th>
            <th scope="col">Duration (ms)</th>
            <th scope="col">Time Signature</th>
            <th scope="col">Genres</th>
          </tr>
        </thead>
        <tbody>
          {% for idx, song in song_data.iterrows() %}
          <tr>
            <th scope="row">{{idx+1}}</th>
            <td>{{song['song_title']}}</td>
            <td>{{song['artists']}}</td>
            <td>{{song['popularity']}}</td>
            <td>{{song['danceability']}}</td>
            <td>{{song['energy']}}</td>
            <td>{{song['music_key']}}</td>
            <td>{{song['loudness']}}</td>
            <td>{{song['music_mode']}}</td>
            <td>{{song['speechiness']}}</td>
            <td>{{song['acousticness']}}</td>
            <td>{{song['instrumentalness']}}</td>
            <td>{{song['liveness']}}</td>
            <td>{{song['valence']}}</td>
            <td>{{song['tempo']}}</td>
            <td>{{song['duration_ms']}}</td>
            <td>{{song['time_signature']}}</td>
            <td>{{song['genres']}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% if session['user_id'] and session['user_id'] == playlist_data['owner_id'] %}
    <div class="row justify-content-center align-self-center mt-4 mb-4">
      <div class="col-auto">
        <a href="{{ url_for('main.post_playlist') }}" class="btn btn-primary">Post</a>
      </div>
    </div>
    {% endif %}
  </div>

{% endblock %}
