{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.1/css/dataTables.bootstrap5.min.css">
<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" language="javascript" src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.11.1/js/dataTables.bootstrap5.min.js"></script>

<!-- Include jQuery UI Autocomplete CSS -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

<div class="row justify-content-center align-self-center mt-4 mb-4">
    <div class="col-auto">
        <h3>Search</h3>
        <form action="/search_results" method="get">
            <div class="form-group">
                <div class="row mt-4">
                    <div class="col">
                        <!-- Add ID to input field -->
                        <input type="text" id="genres" name="genres" required>
                    </div>
                    <div class="col">
                        <select id="search_type" name="search_type" required>
                            <option value="" disabled>Search for...</option>
                            <option value="playlist" selected>Playlists</option>
                            <option value="song">Songs</option>
                            <option value="artist">Artists</option>
                            <!-- Add "genre" option -->
                            <option value="genre">Genres</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group justify-content-center align-self-center mt-4">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
    </div>
</div>

<!-- Include jQuery UI Autocomplete JS -->
<script>
    $(function() {
        $('#search_type').change(function() {
            var selectedOption = $(this).val();
            if (selectedOption === 'genre') {
                $('#genres').autocomplete({
                    source: function(request, response) {
                        $.ajax({
                            url: '/autocomplete_genres',
                            dataType: 'json',
                            data: { term: request.term },
                            success: function(data) {
                                response(data.genres);
                            }
                        });
                    },
                    minLength: 1, // Minimum characters before autocomplete activates
                    select: function(event, ui) {
                        console.log('Selected:', ui.item.value);
                        $('#genres').val(ui.item.value);
                    }
                });
            } else {
                $('#genres').autocomplete('destroy'); // Destroy autocomplete if search type is not genre
            }
        });
    });
</script>

{% endblock %}
